.custom-bg {
  background-color: #029d9d;
}
.custom-ff {
  font-family: "Abril Fatface", serif;
}

.custom-ff2 {
  font-family: "Comforter Brush", cursive;
}

.featured-tours .card {
  transition: all 0.3s ease-in-out;
}

.featured-tours .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
