/* About Us Section */
.about-us .feature-item h5 {
  display: flex;
  align-items: center;
}

.feature-item {
  color: #878787;
}

/* Custom Font Families */
.custom-ff {
  font-family: "Abril Fatface", serif;
}

.custom-ff2 {
  font-family: "Comforter Brush", cursive;
}

/* Custom Background Styles */
.custom-bgs {
  background-color: #029d9d;
  border-radius: 50%;
  color: #fff;
}

/* Button Styles */
.btn-one {
  background-color: #029d9d;
  color: #fff;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 6px;
  transition: color 0.3s, border 0.3s;
  margin-right: 1rem;
}

.btn-one:hover {
  color: #029d9d;
  border: 2px solid #029d9d;
}

/* Dark Mode Styling */
body.dark-mode p.dark-white {
  color: #fff !important;
}
