/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode header {
  background-color: rgb(13, 12, 12);
  box-shadow: 0 4px 6px -1px rgba(132, 117, 117, 0.1);
}

body.dark-mode a {
  transition: color 0.3s ease;
}

body.dark-mode .btn {
  color: white;
}

body.dark-mode .btn:hover {
  color: black;
}

body.dark-mode .about-us {
  color: white;
}

body.dark-mode .btn-two {
  border-color: white;
}
