/* Custom Colors */
.custom-color {
  color: #029d9d;
}

.custom-color2 {
  color: #ffc107;
}

/* Custom Font Families */
.custom-ff {
  font-family: "Abril Fatface", serif;
}

.custom-ff2 {
  font-family: "Comforter Brush", cursive;
}

/* Card Styling */
.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.text-success:hover {
  text-decoration: underline;
}
